.navbar{
    display: flex;
    justify-content: space-between;
    padding:21px;
}

.desktopMenu{
     display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo{
    color: var(--main-color);
    font-size:31px;
    font-weight:777;
}

.desktopMenuListItem{
    font-size:20px;
    color:#fdfdfd;
    font-weight:400;
    margin-right:19px;
}

.desktopMenuListItem:hover{
    font-size:20px;
    color:#fdfdfd;
    font-weight:400;
    margin-right:19px;
    background-color:var(--main-color);
    border-radius:9px;
    padding:7px;
}